/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */

/*   FONTS   */

@font-face{
    font-family: 'InterstateBold';
    src:url('../fonts/Interstate-Bold.otf');
}

@font-face{
    font-family: 'InterstateRegular';
    src:url('../fonts/Interstate-Regular.otf');
}

@font-face{
    font-family: 'InterstateLight';
    src:url('../fonts/Interstate-Light.otf');
}

@font-face{
    font-family: 'Ionicons';
    src:url('../fonts/ionicons.ttf');
}


/*   HELPERS   */

.bold{
    font-family: 'InterstateBold';
}

.reg{
    font-family: 'InterstateRegular'; 
}

.light{
    font-family: 'InterstateLight';
}

.right{
    float:right !important;
}

.left{
    float:left !important;
}

.center{
    text-align: center;
}

.row-buffer{
    margin-top:3rem;
}

.row-divider{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}

.hoverable:hover{
    transition: opacity .25s;
    opacity:.8;
    cursor: pointer;
}

.ml50{
    margin-left:50px !important;
}

.fixed{
    position: fixed;
}

.selected{
    background-color:rgba(217,230,243,.4) !important;
}

.hidden{
    display:none;
}

.pointer{
    cursor:pointer;
}

.bottom-border{
    border-bottom: 2px solid #ddd !important;
}

.capitalize{
    text-transform: capitalize;
}

/*   GENERAL   */

html, body{
    font-family: 'InterstateRegular';
    background-color: #ededed;
    font-size:13px;
/*    overflow: hidden;*/
}

.col-md-2-custom{
    width:20% !important;
}

hr{
    margin: 3px;
    margin-top:20px;
}

table{
    cursor: default;
}

a i{
    color:#aaaaaa !important;
}

a{
    color:#216699 !important;
}

textarea{
    border:1px solid #aaaaaa !important;
    border-radius: 3px !important;
}

.logo {
    width:105%;
    margin-left:-7px;
    margin-top:-2px;
}

.logo-sm{
    width:32px;
    margin-left:-2px !important;
    margin-top:8px;
}

.card{
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-content{
    padding: 20px;
    border-radius: 0 0 2px 2px;
}


.panel{
    border-radius: 0px;
}

.color-panel{
    border-radius:3px;
}

.per18 {width: 18% !important;}

.details-section{
    height:520px;
    overflow: auto;
}

.details-section .panel{
    width:99.75%;
    margin:15px auto;
}


/*   BUTTONS   */

.welcome-btn:hover, .welcome-btn:active, .welcome-btn:focus{
   text-decoration: none;
}

.welcome-btn i{
    color:#ffffff !important;
}

.btn-success{
    border-color: transparent;
}

.btn-success:hover, .btn-success:active:focus {
    border-color: transparent;
    
}

/*   HEADERS   */

.main-header{
    font-size:50px;
}

.main-sub-header{
    font-size:20px;
}

/*   NAVBAR   */

.navbar-nav{
    float:none;
}

.side-nav{
    border-right:1px solid #e5e5e5;
    height:100vh;
}

.sidebar-inner{
    background:#ffffff;
}

#right-sidebar{
    padding: 50px 1rem 0px 1rem;
}

.page-sidebar{
    width:224px;
}

.page-sidebar:after{
    background-color:#ffffff;
}

.page-navbar .navbar-brand{
    background-color: #ffffff;
}

.page-navbar{
    box-shadow:none;
    border-bottom:1px solid #e5e5e5;
    z-index: 10000;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color:transparent;
}

.page-sidebar .side-nav .nav > li a .txt {
    font-family: 'InterstateBold';
    color:#123455;   
}

.page-sidebar .side-nav .nav > li a:hover {
    background-color:#d9e6f3;   
}

.page-sidebar .side-nav .nav > li a.expand {
    background-color:#d9e6f3;
}

.page-sidebar .side-nav .nav > li ul.sub > li a:before{
    background-color:#d9e6f3;
    border:1px solid #aaaaaa;
}

.page-sidebar .side-nav .nav > li a.active:before {
    background-color: #d9e6f3 !important;
    border-color: #aaaaaa !important;
}

.page-sidebar .side-nav .nav > li ul.sub > li a:after{
    background-color:#aaaaaa;
}

.page-sidebar .side-nav .nav > li ul.sub.show li a {
    background-color:#ffffff;
}

.page-sidebar .side-nav .nav > li ul.sub.show li a:hover:before{
    border:1px solid #216699 !important;
    background-color:#216699 !important;
}

.page-sidebar .side-nav .nav > li ul.sub.show li a .txt {
    font-family: 'InterstateLight';
    color:#aaaaaa;   
}

.page-sidebar .side-nav .nav > li a:focus {
    background-color: #d9e6f3;
}

.page-sidebar .side-nav .nav > li a.active {
    background-color: #d9e6f3;
}

/*   COLLAPSE SIDENAV   */

.hover-li{
    z-index: 999;
}

.page-sidebar.collapse-sidebar .nav li.hover-li a.notExpand {
    background-color: #d9e6f3;
}

.page-sidebar.collapse-sidebar .nav li.hover-li a {
    width:235px;
}

.page-sidebar.collapse-sidebar .nav li.hover-li ul.sub {
    background-color: #ffffff;
    width:174px;
}

.page-sidebar.collapse-sidebar .nav li.hover-li ul.sub li a {
    background-color: #ffffff;
}

.page-sidebar.collapse-sidebar .nav li.hover-li ul.sub li a .txt {
    font-family:'InterstateLight'; 
    color:#aaaaaa;
}

.page-sidebar.collapse-sidebar .nav li.hover-li ul.sub li a .txt:hover {
    color:#216699;
}

.page-sidebar.collapse-sidebar .nav li.hover-li ul.sub li.hasSub a.notExpand{
    background-color:#ffffff;
}

.page-sidebar.collapse-sidebar .nav li.hover-li ul.sub li.hasSub ul.sub li a{
    background-color:#ffffff;
}

.page-sidebar.collapse-sidebar .nav li.hover-li ul.sub li.hasSub ul.sub {
    background-color:#ffffff;
}

.page-sidebar.collapse-sidebar .nav li.hover-li ul.sub li a span.txt {
    left: 8px;
    top: -4px;
}

#footer.sidebar-page {
    margin-left: 235px;
}


/*   NAVBAR ICONS   */

.page-navbar .navbar-nav > li > a:hover {
    background-color: #d9e6f3;
}

/*   TABLES   */

table a{
    cursor: pointer;
}

table a:hover, table a:focus, table a:active{
    text-decoration: none;
}

.table-hover > tbody > tr:hover {
  background-color: rgba(217,230,243,.4);
}


/*Can't get js init to work so hacked a way to remove options*/
.details-section .dataTables_filter{
    display: none;
}

.details-section .dataTables_info{
    display: none;
}

/*   FORMS   */

.form-control{
    border:none;
    border-radius: 0px;
}

.input-group{
    border:1px solid #e5e5e5;
}

.input-group .form-control{
    font-family: 'InterstateLight';
    padding:10px;
    z-index: 1;
}

.input-group-addon{
    border:none;
    border-radius:0px;
    color:#95989a;
    background-color: #ffffff;;
    font-size:18px;
    padding:6px 9px;
}

.text-input{
    border: 1px solid #ddd;
    border-radius: 3px;
}

/*   SELECT   */

.help-block{
    margin-top:-17px;
}

.select2-hidden-accessible{
    display:none;
}

.select2-container-multi .select2-choices .select2-search-field input {
    font-family:'InterstateLight';
}

.select2-container .select2-choice > .select2-chosen {
    font-family:'InterstateLight';
}

.select2-container-multi .select2-choices .select2-search-choice {
    width:auto !important;
}

li.asset-class-tag{
    background-color: rgba(239, 202, 77, 0.35) !important;
}

li.channel-tag{
    background-color: rgba(127, 174, 215, 0.25) !important;
}

.fund-details .select2-container .select2-choice > .select2-chosen {
    color:#123455;
    font-family: 'InterstateBold';
    text-align: left;
}

.fund-details .sel-status .select2-container .select2-choice > .select2-chosen {
    
    font-family: 'InterstateBold';
    text-align: left;
}

/*   TAGS   */

.bootstrap-tagsinput{
    border: none;
    background-color:transparent;
    padding: 10px 0px;
    cursor: default;
}

.bootstrap-tagsinput input{
    cursor: default;
}

.bootstrap-tagsinput .tag {
    text-transform: uppercase;
    font-family: 'InterstateLight';
    font-size: 12px;
    margin-top:3px;
}

.keyword-tags{
    border: 1px solid #cacaca;
    width: 95%;
    margin-left: 2.5%;
    padding-top: 3px;
    padding-bottom: 6px
}

.keyword-tags .label-info{
    background-color: #7faed7;
}

.label-info{
    background-color: #aaaaaa;
}

.label{
    padding: 10px 7px;
}


/*   MODALS   */

.bootbox-body{
    font-family: 'InterstateLight';
}

.modal{
    top:150px;
}

.modal-expand{
    width:50% !important;
    left:39% !important;
}

/*   QUERY BUILDER   */

.query-builder .rules-group-container {
    background: rgba(217,230,243,.5);
    border: 1px solid #7faed7;
}

.rules-group-container .rules-group-container:nth-child(even){
    border: 1px dashed #7faed7;
    background:rgba(33,102,153,.5);
}

.query-builder .rules-list>::after, .query-builder .rules-list>::before {
    border-color:#ffffff;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: 5px;
}

.btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
    background-color: #123455 !important;
    border: #123455;
}

/*   WYSIWYG   */

.note-editor .note-editable {
    background-color: #ffffff;
    font-family: 'Arial';
    color:#aaaaaa;
}

.fr-toolbar {
    border-top:0px solid #efca4d !important;
    z-index:0 !important;
}

.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn {
    color:#666666 !important;
}

/*   MENUS   */

.meta-data-menu{
    list-style-type: none;
    margin-left:-30px;
}

.meta-data-menu li{
    margin-bottom:15px;
}

.meta-data-menu li:hover{
    color:#7faed7;
}

/*   BUTTONS   */

.btn{
    border-radius: 0px;
}

.btn-default{
    border-color:#e5e5e5;
    background-color:#e5e5e5;
}

.btn-primary{
    border-color:#44b19b !important;
    background-color:#44b19b !important;
    z-index: 2;
}

.btn-primary:hover{
    background-color:#44b19b;
    transition: opacity .25;
    opacity:.8;
}

/*   PANELS   */

.panel-default > .panel-heading > .panel-controls-left > a i, .panel-default > .panel-heading > .panel-controls-right > a i {
    color: white !important;
}

.panel{
    border:none;
}

.panel-heading{
    border:none;
    border-radius: 0px;
}

/*   DRAWERS   */

.panel-control-shift{
    right:574px !important;
    margin-right:574px !important;
}

.component-edit-area-shift{
    width:32.4% !important;
    transition: width .3s ease;
}

.drawer-shift{
    width:64.33% !important;
}

/*   USER INFO CARDS   */

.list-group-item{
    width:50% !important;
    border-left:4px solid #7faed7;
    cursor: default;
    padding: 4px 15px;
}

/*   NOTIFICATIONS   */

#gritter-notice-wrapper .gritter-item-wrapper.success-notice .gritter-item {
    color: #44b19b;
    background: #bef7ea;
    border: 1px solid #44b19b;
}

#gritter-notice-wrapper .gritter-item-wrapper {
    margin: 50px 0px 10px 0;
}

/*   TABLES   */

.sorting_asc{
    color:#7faed7;
}

.form-horizontal .form-control.input-sm, .form-inline .form-control.input-sm, .form-horizontal .form-control.input-lg, .form-inline .form-control.input-lg {
    border-radius: 0px;
    border: 1px solid #e5e5e5;
}

td.details-control:before {
    font-family: 'Ionicons';
    content: "\f123";
    cursor: pointer;
}
tr.shown td.details-control:before {
    content: "\f126";
}

div.dataTables_filter label {
    color: transparent;
}

/*   CHARTS   */

.pie-charts{
    display:block;
}

.pie-charts .easyPieChart {
    margin: 0 auto;
}

.gauge{
    display: block;
    margin: 0 auto;
}

/*   FUND MANAGEMENT   */

.fund-list{
    height:475px;
    overflow: auto;
    cursor: pointer;
}

.fund:hover{
    background-color: #d9e6f3;
}

.active-fund{
    border-left:4px solid #44b19b;
}

.inactive-fund{
    border-left: 4px solid #e05b4b;
}

/*   FONT WEIGHTS   */

.bold{
    font-family: 'InterstateBold';
}

.regular{
    font-family: 'InterstateRegular';
}

.light{
    font-family: 'InterstateLight';
}


/*   COLORS   */

.navy{
    background-color: #123455 !important;
}

.navy-text{
    color:#123455 !important;
}

.blue{
    background-color: #216699 !important;
}

.blue-text{
    color:#216699 !important;
}

.blue-light{
    background-color: #7faed7 !important;
}

.blue-light-text{
    color:#7faed7 !important;
}

.blue-pale{
    background-color: #d9e6f3 !important;
}

.blue-pale-text{
    color:#d9e6f3 !important;
}

.red{
    background-color: #e05b4b !important;
}

.red-text{
    color:#e05b4b !important;
}

.orange{
    background-color: #e37a3e !important;
}

.orange-text{
    color:#e37a3e !important;
}

.yellow{
    background-color: #efca4d !important;
}

.yellow-text{
    color:#efca4d !important;
}

.green{
    background-color: #44b19b !important;
}

.green-text{
    color:#44b19b !important;
}

.gray-dark{
    background-color: #333333 !important;
}

.gray-dark-text{
    color:#333333 !important;
}

.gray{
    background-color: #95989a !important;
}

.gray-text{
    color:#95989a !important;
}

.gray-light{
    background-color: #aaaaaa !important;
}

.gray-light-text{
    color:#aaaaaa !important;
}

.gray-pale{
    background-color: #f7f7f7 !important;
}

.gray-pale-text{
    color:#f7f7f7 !important;
}

.gray-white{
    background-color: #ededed !important;
    color:#ededed !important;
}

.white{
    background-color:#ffffff !important;
}

.white-text{
    color:#ffffff !important;
}

.transparent{
    background-color: transparent !important;
}